.text-button {
  color: var(--primary-light-color);
  cursor: pointer;
  transition:
    opacity 0.2s,
    background-color 0.2s;
  width: fit-content;
  background-color: transparent;
  border: none;
  padding: 0;

  &.default {
    color: var(--text-color);
  }

  &:hover {
    opacity: 0.8;
  }

  &.hover-bg {
    padding: 0.25rem 0.5rem;
    border-radius: var(--radius-xl);

    &:hover {
      opacity: 1;
      background-color: var(--surface-ground) !important;
    }
  }

  &.disabled {
    cursor: default;
    pointer-events: none;
  }
}

.icon-button {
  cursor: pointer;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    border: none;
    outline: none;
    color: var(--primary-color);
  }

  &.disabled {
    cursor: default;
    pointer-events: none;
    opacity: 0.6;
  }
}

.button,
.p-button:not(.p-dialog-close-button) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border: none;
  font-family: 'Refrigerator Deluxe', sans-serif;
  padding: var(--padding-sm);
  font-size: 1rem;
  position: relative;
  cursor: pointer;
  background-color: var(--primary-color) !important;
  color: var(--primary-color-text) !important;
  border-radius: var(--radius-xl);
  text-wrap: nowrap;
  transition: all 0.25s ease;
  overflow: hidden;

  &:has(.p-button-icon-only) {
    padding: 0.5rem 0.75rem;
    border-radius: 50%;
  }

  &.p-button-icon-only::after {
    display: none;
  }

  &.fit-content {
    width: fit-content;
  }

  &.full-width {
    width: 100%;
  }

  &.button-bold {
    font-weight: bold;
  }

  i {
    color: inherit;
  }

  &.button-secondary,
  &.p-button-secondary {
    background-color: var(--secondary-color) !important;
    color: var(--secondary-color-text) !important;
  }

  &.button-outlined,
  &.p-button-outlined {
    background-color: transparent !important;
    outline: 2px solid var(--primary-color);
    outline-offset: -2px;
  }

  &.button-white {
    background-color: var(--text-color) !important;
    color: var(--text-color-black) !important;
  }

  &.button-yellow {
    background-color: var(--text-color-yellow) !important;
    color: var(--text-color-black) !important;

    &:hover {
      filter: brightness(0.9);
    }
  }

  &.button-red,
  &.p-button-red:not(.p-confirmdialog-accept-button) {
    background-color: var(--error-dark) !important;
    color: var(--text-color) !important;
  }

  &.button-big {
    font-size: 2rem;
    font-weight: bold;
    padding: var(--padding-lg);
  }

  &:hover:not(.button-yellow) {
    opacity: 0.8;
  }

  &:active:not(.button-yellow) {
    opacity: 0.8;
    transform: scale(0.97);
  }

  &:disabled,
  &.disabled,
  &.p-disabled {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;

    &:has(p-progress-spinner, p-progressSpinner) {
      opacity: 1;
    }
  }

  p-progress-spinner,
  p-progressSpinner {
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    background-color: rgba(0, 0, 0, 0.5);

    svg {
      height: 70%;
    }
  }
}

p-button {
  &:disabled,
  &.disabled,
  &.p-disabled {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;

    &:has(p-progress-spinner, p-progressSpinner) {
      opacity: 1;
    }
  }
}
