p-progress-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-progressspinner {
  position: relative !important;
  margin: 0 auto !important;
  width: 20px !important;
  height: 20px !important;
  display: inline-block !important;

  &.p-progressspinner-big {
    transform: scale(3) !important;
  }

  .p-progressspinner-spin {

    .p-progressspinner-circle {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: 0;
      animation: p-progressspinner-dash 1.5s ease-in-out infinite;
      stroke-linecap: round;
      stroke: white;
      stroke-width: 5;
    }
  }

  &.p-progressspinner-dark .p-progressspinner-spin .p-progressspinner-circle {
    stroke: var(--color-dark-greyish);
  }
}
