.p-dialog-mask.p-overlay-mask {
  background-color: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(2px);
}

.p-dialog {
  border-radius: 10px;
  border: none;
  width: fit-content;
  position: relative;
  max-width: 98dvw;
  filter: drop-shadow(0 0 10px var(--surface-background));

  &:not(.p-confirmdialog) {
    min-width: 500px;
  }

  .p-dialog-header {
    background: var(--surface-ground);
    width: 100%;
    justify-content: start;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 1.5rem;
    border-bottom: 1px solid var(--surface-gray);
    gap: 1rem;

    .p-dialog-title {
      font-weight: 900;
      font-size: 1.75rem;
      color: var(--text-color);
    }

    .p-dialog-header-actions {
      margin-left: auto;
    }
  }

  .p-dialog-content {
    background: var(--surface-ground);
    color: var(--text-color);
    padding: 1rem 1.5rem 1.5rem 1.5rem;
    overflow: visible !important;

    .content {
      overflow: visible !important;
    }

    &:last-of-type {
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
    }
  }

  .dialog-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &:has(.dialog-list), &.large {
    width: 95%;
    max-width: 800px;
  }

  &:has(.p-dialog-footer) .p-dialog-content {
    padding: 1.5rem;
  }

  .p-dialog-footer {
    color: var(--text-color);
    background: var(--surface-ground);
    border-top: 1px solid var(--surface-gray);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    .actions {
      display: flex;
      width: 100%;
      gap: 1rem;

      &.right {
        margin-left: auto;
      }
    }
  }

  &.p-confirmdialog {
    .p-dialog-content {
      display: flex;
      gap: 1rem;
      align-items: center;
      justify-content: center;

      i {
        font-size: 1.5rem;
      }
    }

    .p-dialog-footer {
      justify-content: end;
    }
  }
}

.dialog-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: auto;
  max-height: 50dvh;
  padding-right: 0.5rem;

  .disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
  }

  .list-item {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 0.25rem;
    border-radius: 4px;
    transition: background-color 0.2s;

    &.no-hover {
      cursor: default;
      border-radius: 0;
    }

    &.divided + .divided {
      border-top: 1px solid var(--surface-gray);
      padding: 0.75rem 0.25rem 0.25rem;
    }

    &:hover:not(.no-hover), &.active {
      background-color: var(--surface-gray);
    }

    .actions {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }

  p {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 800px) {
  .p-dialog {
    width: 95dvw;

    .p-dialog-header {
      .p-dialog-title {
        font-size: 1.5rem;
      }
    }
  }
}
