textarea.p-input {
  min-height: 22px;
}

.p-input,
.p-inputtext,
p-input-number > input {
  border: 1px solid var(--border-color) !important;
  background-color: var(--surface-background) !important;
  padding: var(--padding-sm) !important;
  transition: border-color 0.25s !important;
  border-radius: var(--radius-xl) !important;
  color: var(--text-color) !important;
  display: flex;
  gap: 0.25rem;
  font-size: 1rem !important;
  width: 100%;

  &.small {
    max-height: 100px !important;
    overflow-x: hidden !important;
    overflow-y: auto !important;
  }

  &.medium {
    max-height: 30dvh !important;
    overflow-x: hidden !important;
    overflow-y: auto !important;
  }

  &.h-auto {
    overflow: unset !important;
    max-height: unset !important;
  }

  &.full-width {
    width: 100%;
  }

  & > .p-input {
    padding: 0 !important;
    border: none !important;
    background-color: transparent !important;
  }

  &:active:not(:disabled),
  &:focus:not(:disabled) {
    outline: none !important;
    border-color: var(--primary-color) !important;
  }

  &.invalid {
    border-color: var(--error) !important;
  }

  &::placeholder {
    color: var(--text-color);
    opacity: 0.8;
  }

  &.transparent {
    border: none !important;
    background-color: transparent !important;
  }

  &:disabled,
  &.disabled {
    pointer-events: none;
    opacity: 0.6;
    cursor: default;
  }
}

.p-input-checkbox {
  accent-color: var(--primary-color) !important;
  cursor: pointer !important;
}

.p-iconfield {
  .p-inputicon {
    top: 0.25rem;
    bottom: 0;
    margin: auto;
    height: 16px;
    padding: 0 0.5rem;
    z-index: 1;
  }

  &.p-iconfield-left {
    .p-inputicon {
      left: 0;
    }

    .p-input,
    .p-select {
      padding-left: calc(16px + 1rem) !important;
    }
  }
}

.p-floatlabel {
  position: relative;

  label {
    position: absolute;
    display: block;
    left: 0;
    font-size: 1rem !important;
    transition: all 0.2s !important;
    opacity: 0.6;
    margin-left: 1rem !important;
  }

  input::placeholder {
    opacity: 0;
  }

  &:has(.p-iconfield) {
    label {
      margin-left: calc(16px + 1rem) !important;
    }
  }

  &.p-floatlabel-on {
    label {
      background-color: var(--surface-background) !important;
      padding: 0 0.25rem !important;
      border-radius: 2px !important;
    }

    &:has(.p-inputwrapper-filled) label,
    &:has(.p-filled) label,
    &:has(.p-inputwrapper-focus) label,
    &:has(input:focus) label,
    &:has(textarea:focus) label {
      margin-left: 0.5rem !important;
      font-size: 0.8rem !important;
      opacity: 1;
    }
  }
}
