p-slider,
.p-slider {
  display: block;
  position: relative !important;
  background: var(--surface-light-gray) !important;
  border-radius: 6px !important;

  .p-slider-range {
    display: block;
    background: var(--primary-color);
    border-radius: 6px;
  }

  .p-slider-handle {
    cursor: grab;
    touch-action: none;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    background: var(--surface-gray);
    border-radius: 50%;
    transition:
      background 0.5s,
      color 0.2s,
      border-color 0.2s,
      box-shadow 0.2s,
      outline-color 0.2s;
    outline-color: transparent;

    &::before {
      content: '';
      width: 16px;
      height: 16px;
      display: block;
      background: var(--surface-background);
      border-radius: 50%;
      box-shadow:
        0 0.5px 0 0 rgba(0, 0, 0, 0.08),
        0 1px 1px 0 rgba(0, 0, 0, 0.14);
      transition: background 0.2s;
    }
  }

  &:not(.p-disabled) .p-slider-handle:hover {
    background: var(--surface-light-gray) !important;
  }

  &:not(.p-disabled) .p-slider-handle:hover::before {
    background: var(--surface-background) !important;
  }

  &.p-slider-horizontal {
    height: 3px !important;

    .p-slider-range {
      inset-block-start: 0;
      inset-inline-start: 0;
      height: 3px;
    }

    .p-slider-handle {
      inset-block-start: 50%;
      margin-block-start: calc(-1 * calc(20px / 2));
      margin-inline-start: calc(-1 * calc(20px / 2));
    }
  }
}
