.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &.disabled {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
  }

  &.grid,
  .form-group-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    .actions {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    .full-width {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }

  &.row {
    flex-direction: row;
  }

  &.full-width {
    width: 100%;
  }

  .form-group {
    position: relative;
    display: flex;
    gap: 0.25rem;

    &.as-input {
      border-radius: var(--radius-xl) !important;
      overflow: hidden;
      border: 1px solid var(--surface-gray) !important;
      transition: border-color 0.25s !important;

      .p-input {
        border: none !important;
      }

      &:has(input:active:not(:disabled)),
      &:has(input:focus:not(:disabled)),
      &:has(textarea:active:not(:disabled)),
      &:has(textarea:focus:not(:disabled)) {
        outline: none !important;
        border-color: var(--primary-color) !important;
      }

      &.invalid {
        border-color: var(--error) !important;
      }
    }

    &:has(.full-width) {
      flex-grow: 1;
    }

    &:not(.checkbox-group) {
      flex-direction: column;
    }

    &.checkbox-group {
      align-items: center;
      gap: 0.5rem;
    }

    label {
      margin-left: 0.25rem;
      font-weight: bold;
    }
  }

  .actions {
    display: flex;
    gap: 0.5rem;

    & > button {
      flex-grow: 1;
    }
  }
}

.error-message {
  background-color: var(--error-light);
  border-radius: var(--radius-xl);
  padding: var(--padding-lg);
  border-left: 4px solid var(--error-dark);
}

.info-message {
  background-color: var(--info-light);
  border-radius: var(--radius-xl);
  padding: var(--padding-lg);
  border-left: 4px solid var(--info-dark);
}
