.p-popover {
  margin-top: 0.5rem !important;
  --p-popover-arrow-offset: 8%;

  &:before, &:after {
    display: none;
  }

  &:not(.p-popover-flipped)::after, &:not(.p-popover-flipped)::before {
    border-bottom-color: var(--surface-gray) !important;
    border-width: 10px !important;
  }

  &.p-popover-flipped::after, &.p-popover-flipped::before {
    border-top-color: var(--surface-gray) !important;
    border-width: 10px !important;
  }

  &.p-popover-flipped {
    margin-top: 0 !important;
  }

  .p-popover-content {
    padding: 0.5rem;
    background-color: var(--surface-gray);
    border-radius: 8px;
    box-shadow: 0 0 10px -2px var(--surface-background);

    &:has(.text-button.hover-bg) {
      padding: 0.5rem 0.5rem;
    }
  }

  .popover-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    &.divided {
      gap: 0.75rem;

      & > * + * {
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: -0.375rem;
          left: 0;
          right: 0;
          margin: auto;
          height: 1px;
          width: 90%;
          background-color: var(--surface-light-gray);
        }
      }
    }

    .item {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      font-size: 0.8rem;
      width: 100%;
    }
  }
}
