version: "3.9"

services:
  redis:
    image: redis:8.4-alpine
    container_name: app-redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    command: >
      redis-server
      --appendonly yes
      --save 60 1
      --loglevel warning
    volumes:
      - redis-data:/data

volumes:
  redis-data:
