body {
  padding: 0;
  margin: 0;
  background-color: var(--surface-background);
  color: var(--text-color);
}

p,
a,
h1 {
  color: var(--text-color);
}

p,
h1,
h3 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;

  @extend .text-button !optional;
}

* {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: var(--surface-gray) transparent; /* Firefox */
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--surface-gray);
  border-radius: 8px;
  border: 2px solid transparent;
  background-clip: padding-box;
  transition: background-color 0.2s ease-in-out;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--surface-light-gray);
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

.p-hidden-accessible {
  display: none;
}

hr {
  height: 1px;
  width: 100%;
  opacity: 0.3;
}

.hidden {
  visibility: hidden;
}

.d-none {
  display: none !important;
}

.divider {
  display: block;
  width: 1px;
  background-color: var(--surface-gray);
  height: 95%;
  margin: auto 0;
}

.p-absolute,
p-dialog {
  position: absolute;
}

[data-theme='dark'] {
  .invert-on-dark-mode {
    filter: invert(1);
  }
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
  transition: opacity 0.25s;

  &.invisible {
    opacity: 0;
    pointer-events: none;
  }

  &.visible {
    opacity: 1;
  }

  &.transparent {
    background-color: transparent;
  }
}

.breadcrumb {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  color: var(--text-color);
  align-items: center;

  .breadcrumb-item {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    cursor: pointer;

    p,
    i {
      opacity: 0.8;
      transition: opacity 0.25s;
    }

    & + .breadcrumb-item::before {
      content: '/';
      font-size: 1.25rem;
      opacity: 0.8;
    }

    &:hover p,
    &:hover i {
      opacity: 1;
    }

    &.current-route {
      pointer-events: none;
    }
  }
}

.content-card {
  width: 100%;
  padding: 1rem;
  background-color: var(--surface-ground);
  border-radius: var(--radius-2xl);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .card-title {
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
    justify-content: space-between;
    gap: 1rem;
  }

  .card-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &.row {
      flex-direction: row;
    }

    &.centered {
      align-items: center;
    }
  }
}
