$colors: (
  "blue": #2196f3,
  "green": #689f38,
  "yellow": #fbc02d,
  "cyan": #00bcd4,
  "pink": #e91e63,
  "indigo": #4e5fbb,
  "teal": #009688,
  "orange": #ff9800,
  "bluegray": #607d8b,
  "purple": #9c27b0,
  "red": #f44336,
  "primary": #0a6852,
) !default;

:root, [data-theme='light'] {
  font-family: "Open Sans", sans-serif;
  --font-family: "Open Sans", sans-serif;
  --surface-background: #eaeaea;
  --surface-ground: #ffffff;
  --surface-white: white;
  --surface-black: black;
  --surface-gray: #c8c8c8;
  --surface-light-gray: #dddddd;
  --text-color: #212121;
  --text-color-black: var(--text-color);
  --dark-overlay: rgba(220, 220, 220, 0.8);
  --primary-color: #f59e0b;
  --primary-light-color: #d5a21e;
  --primary-color-text: white;
  --secondary-color: #e4b467;
  --secondary-color-text: var(--text-color);
  --info-dark: #0040ba;
  --info-light: #c7d3ff;
  --error: #ff6b6b;
  --error-dark: #c0392b;
  --error-light: #ffcccc;
  --warning: #ffa500;
  --warning-dark: #ff8c00;
  --warning-light: #fff3cd;
  --success: #28a745;
  --success-dark: #1f9a00;
  --success-light: #d4edda;
  color-scheme: light;
}

[data-theme='dark'] {
  --surface-background: #141616;
  --surface-ground: #222;
  --surface-white: white;
  --surface-black: black;
  --surface-gray: #3a3a3a;
  --surface-light-gray: #656565;
  --text-color: #dfdfdf;
  --text-color-black: #212121;
  --dark-overlay: rgba(0, 0, 0, 0.5);
  --primary-color: #9f6f1e;
  --primary-light-color: #fbbf24;
  --primary-color-text: var(--text-color);
  --secondary-color: #534120;
  --secondary-color-text: var(--text-color);
  --info-dark: #0040ba;
  --info-light: rgb(80, 85, 115);
  --error: #c47d7d;
  --error-dark: #bf0000;
  --error-light: rgb(115, 80, 80);
  --warning: orange;
  --warning-dark: #ffc400;
  --warning-light: rgb(115, 109, 80);
  --success: green;
  --success-dark: #1f9a00;
  --success-light: rgb(83, 115, 80);
  color-scheme: dark;
}
